.dashboard {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvaWLBVcIAKiUjdLwRE2v26uhU5DEae8vUmlKlPv5ADUsaa5uF');
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard--extend {
  height: 76rem;
}

.dashboard--add {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEid9Fv6YRGJ8zbZhP0IjInZmAPDO-WIl3cZ-edUbS6lE-K6xnnw');
  background-repeat: no-repeat;
  background-size: cover;
  height: 76rem;
}

.dashboard--edit {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcHXW9rHxxhsBYKMx7jLq7UnOI7Amxd-B23-sG3NuymWdr5pRL');
  background-repeat: no-repeat;
  background-size: cover;
  height: 76rem;
}
